#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

.view-side-nav,
.ivu-layout-sider {
  text-align: left;
}

.view-side-nav,
.ivu-layout-sider:after {
  content: '';
  display: block;
  width: 1px;
  height: 100%;
  background: #dcdee2;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.nav-icon {
  padding: 12px 24px;
  color: #fff;

}
.viewContent{
  height:calc(100vh - 60px);
  overflow-x: hidden;
  overflow-y: auto;
}
.layout {
  height: 100vh;
  background: #f5f7f9;
  position: relative;
  overflow: hidden;
}

.layout-logo {
  width: 100px;
  height: 30px;
  background: #5b6270;
  border-radius: 3px;
  float: left;
  position: relative;
  top: 15px;
  left: 20px;
}

.layout-nav {
  /*width: 420px;*/
  float: right;
  margin: 0 auto;
  margin-right: 20px;
}

h1,
h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}
/*a {
  font-size: 18px;
  color: #5b6270;
}*/
a.a-link {
  font-size: 20px;
  color: #42b983;
}

.link{
  padding:5px 10px;
  border:1px solid #42b983;
  border-radius: 3px;
  margin:5px;
}
.link:hover{
  color:#fff;
  background: #42b983;
}
a[target=_blank]{
  display: block;
}
.child{
  margin: 10px 0;
  padding:15px;
  border:1px solid #42b983;
  border-radius:4px;
}
.logo{
  height: 40px;
  position: absolute;
  top:50%;
  margin-top:-20px;
}
.pagesTab{
}
.pagesTabs,.scrollLeftBtn{
  float:left;
}
.pagesTabs{
  height: 40px;
  width:calc(100% - 120px);
  background: #e8eaec;
  padding:2px;
  border-radius:4px;
  margin-left:8px;
  overflow-x: auto;
  overflow-y: hidden;
}
.scrollLeftBtn,.scrollRightBtn{
  height: 40px;
}
.scrollRightBtn{
  float:right;
}

