/* demo-express */
.demo-express-title{
    height: 30px;
    font-size: 20px;
    line-height: 30px;
    font-weight: normal;
    
}
.demo-express-title .copyBtn {
    vertical-align: middle;
}
.demo-express{
    max-width: 700px;
    margin-bottom: 20px;
}
.demo-express .demo-express-bg{
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
}

pre,code.codeBox{
    tab-size:2;
    display: block;
    width: 100%;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow-x: auto;
}
.copyBtn{
    margin-left:10px;
}
/*h1ã€h2*/
.content-h1{
    height: 66px;
    padding: 0 10px 0 38px;
    background: url(../assets/ico-title.png) no-repeat left center;
    line-height: 66px;
    color:#000;
    margin:0 0 20px 0;
    border-bottom:1px solid #979797;
}
.content-h1 label{
   font-size: 24px;
   font-weight: normal;
   margin-right: 10px; 
   margin-bottom: 0;    
}
.pull-right {
    float: right!important;
}
.content-h1 .refresh{
    width: 24px;
    height: 24px;
    margin-top:21px;
    border:0;
    background: url(../assets/refresh.png) no-repeat;
    cursor:pointer;
}
.content-h1 .breadcrumb{
    display: inline-block;
    background: none;
    padding: 0;
    margin-top: 0;
}
.content-h1 .breadcrumb>li {
    display: inline-block;
}
.content-h1 .breadcrumb a{
    color: #000;
}
.content-h1 .breadcrumb>li:before,
.content-h1 .breadcrumb>li+li:before{
    font-family: monospace;
    font-size: 12px;
    content:"\003E";
    color: #9f9f9f;
    background:none;
    padding: 0 5px;
}
.breadcrumb>li+li:before{
    padding: 0 5px;
    color: #ccc;
    content: "/\00a0";
}
.content-h2{
    height: 30px;
    line-height: 30px;
    padding-left: 10px;
    
    border:0;
    position: relative;
    margin: 20px 13px 20px 10px;
}
.content-h2 label{
    font-size: 18px;
    font-weight: normal;
}
.content-h2:before{
    position: absolute;
    top:50%;
    left:0;
    margin-top: -9px;
    content: " ";
    width: 3px;
    height: 18px;
    filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#06bce1,endcolorstr=#5682fd,gradientType=1);
    background: -linear-gradient(top,#06bce1,#5682fd);
    background: -moz-linear-gradient(top,#06bce1,#5682fd);
    background: -webkit-linear-gradient(top,#06bce1,#5682fd);
}
.content-h2 form{
    margin:0;
    height: inherit;
    margin-right: -15px;
}
.content-h2 form .form-group{
    display: inline-block;
    margin: 0;
    vertical-align: top;
}
.content-h2 form .form-group + .form-group{
    margin-left: 30px;
}
.content-h2 .form-group.form-group-right{
    float: right;
}

/*.copyBtn*/
.copyBtn{
    padding: 2px 0;
    box-sizing: border-box;
    border:1px solid #f5f7f9;
    border-radius: 3px;
    background: #f5f7f9;
    transition: all .2s ease;
}
.copyBtn:active{
    
}